$main: #1EB858
$white: #FFFFFF
$black: #000000
$border: #414348
$grey: #ACAFB8
$lightGrey: #F7F7F7
$twit: #1C57FF

.main
	display: flex
	height: 100vh
	background-image: url("../img/main.jpg")
	background-size: cover
	background-repeat: no-repeat
	background-position: center top
	header
		height: 50px
		img
			margin-top: 10px
			height: 40px
		nav
			ul
				float: right
				list-style: none
				li
					line-height: 50px
					justify-content: space-between
					display: inline-block
					a
						float: right
						padding-left: 15px
						text-decoration: none
						color: $white
						text-transform: uppercase
						font-size: 16px
						&:hover
							text-decoration: none
							color: $main
		button
			padding: 8px
			margin-top: 10px
			box-sizing: border-box
			cursor: pointer
			color: $main
			font-size: 16px
			text-transform: uppercase
			background-color: rgba(0,0,0,0)
			border: 1px solid $border
			border-radius: 20px
			outline: none
		h3
			padding-top: 20vh
			margin: 0 auto
			text-align: center
			color: $white
			span
				color: $main
	&-slider
		position: absolute
		left: -10vw
		bottom: 60vh
		transform: rotate(-90deg)
		a
			text-transform: uppercase
			margin-right: 15px
			padding-bottom: 3px
			font-weight: 600
			color: $white
			text-decoration: none
			border-bottom: 1px solid rgba(0,0,0,0)
			&:hover
				border-bottom: 1px solid $white
			span
				color: $main

.download
	background-color: $lightGrey
	text-align: center
	h3
		padding: 10vh 0 3vh 0
		margin: 0 auto
		color: $black
		span
			color: $main
	p
		color: $grey
		padding-bottom: 5vh
	img
		width: 20vw
		padding-bottom: 7vh

.offer
	background-image: url("../img/offerBG.png")
	background-size: cover
	background-repeat: no-repeat
	h3
		padding-top: 20vh
		color: $black
	p
		padding-top: 5vh
		text-transform: uppercase
		color: $grey
	h6
		i
			color: $main
			padding-right: 5px
		&:first-of-type
			padding-top: 7vh
	img
		padding-top: 7vh
		max-width: 90%

.screens
    overflow-x: hidden
    text-align: center
	h3
		font-weight: 600
		padding-top: 20vh
		color: $black
		span
			color: $main
	p
		padding-top: 10px
		text-transform: uppercase
		color: $grey
	&-menu
		margin-top: 10vh
		background-color: $black
		cursor: pointer
		p
			color: $white
			text-transform: none
		span
			display: inline-block
			height: 35px
			width: 35px
			background-image: url("../img/screens-iconset.png")
			float: left
		&_icon1
			background-position: 0 0
		&_icon2
			background-position: -40px 0
		&_icon3
			background-position: -78px 0
		&_active
			border-bottom: 2px solid $main
	img
		width: 100%
		margin-top: -10vh
		z-index: -1

.stats
	text-align: center
	h3
		font-weight: 600
		padding-top: 10vh
		color: $black
		span
			color: $main
	p
		padding-top: 5vh
		text-transform: uppercase
		color: $grey
	&_section
		margin: 10vh 0
		box-shadow: 0 0 2px 1px $grey
		border: 1px solid $grey
		border-top: 3px solid $main
		p
			text-transform: uppercase
			&:first-of-type
				padding-top: 10vh
				color: $main
				font-size: 50px
				font-weight: 600
			&:last-of-type
				padding-bottom: 10vh
				color: $black
				font-weight: 500

.tweets
	position: relative
	background-color: $twit
	padding: 25vh 0
	i
		color: $white
		float: right
		line-height: 30px
	p
		color: $white
		line-height: 30px
		span
			font-weight: 500
	&-follow
		text-align: center
		box-shadow: 0 0 5px $black
		position: absolute
		background-color: $black
		height: 40px
		width: 110px
		top: 0
		left: 110px
		transform: translate(0, -50%)
		i
			float: none
			line-height: 40px
			display: inline-block
			color: $twit
		p
			line-height: 40px
			display: inline-block
			color: $white

footer
	padding: 20vh 0
	ul
		list-style: none
		li
			margin: 20px
			a
				padding: 5px
				color: $black
				border: 1px solid $grey
				box-shadow: 0 0 3px $grey
				text-decoration: none
				&:hover
					text-decoration: none
					color: $main

@media (max-width: 576px)
    .screens
        text-align: center
        img
            width: 180vw
            margin: 10px -40vw
    .tweets  i
        position: absolute
        top: 0
        left: -10px
    .tweets-follow i
        position: static
    footer ul li
        margin: 0
        text-align: left
        a
            padding: 5px
            border: none
            box-shadow: none



@media (max-width: 768px)
    .download img
        width: 60vw
    .tweets-follow
        left: 50%
        transform: translate(-50%, -50%)
    .stats_section
        margin: 5vh 0

@media (max-width: 992px)
    .main header nav ul li a
        padding-left: 5px
        font-size: 14px
    .main header h3
        padding-top: 20vh
    .offer
        background-image: none
