.main {
    display: flex;
    height: 100vh;
    background-image: url("../img/main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.main header {
    height: 50px;
}

.main header img {
    margin-top: 10px;
    height: 40px;
}

.main header nav ul {
    float: right;
    list-style: none;
}

.main header nav ul li {
    line-height: 50px;
    justify-content: space-between;
    display: inline-block;
}

.main header nav ul li a {
    float: right;
    padding-left: 15px;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
}

.main header nav ul li a:hover {
    text-decoration: none;
    color: #1EB858;
}

.main header button {
    padding: 8px;
    margin-top: 10px;
    box-sizing: border-box;
    cursor: pointer;
    color: #1EB858;
    font-size: 16px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #414348;
    border-radius: 20px;
    outline: none;
}

.main header h3 {
    padding-top: 20vh;
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
}

.main header h3 span {
    color: #1EB858;
}

.main-slider {
    position: absolute;
    left: -10vw;
    bottom: 60vh;
    transform: rotate(-90deg);
}

.main-slider a {
    text-transform: uppercase;
    margin-right: 15px;
    padding-bottom: 3px;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.main-slider a:hover {
    border-bottom: 1px solid #FFFFFF;
}

.main-slider a span {
    color: #1EB858;
}

.download {
    background-color: #F7F7F7;
    text-align: center;
}

.download h3 {
    padding: 10vh 0 3vh 0;
    margin: 0 auto;
    color: #000000;
}

.download h3 span {
    color: #1EB858;
}

.download p {
    color: #ACAFB8;
    padding-bottom: 5vh;
}

.download img {
    width: 20vw;
    padding-bottom: 7vh;
}

.offer {
    background-image: url("../img/offerBG.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.offer h3 {
    padding-top: 20vh;
    color: #000000;
}

.offer p {
    padding-top: 5vh;
    text-transform: uppercase;
    color: #ACAFB8;
}

.offer h6 i {
    color: #1EB858;
    padding-right: 5px;
}

.offer h6:first-of-type {
    padding-top: 7vh;
}

.offer img {
    padding-top: 7vh;
    max-width: 90%;
}

.screens {
    overflow-x: hidden;
    text-align: center;
}

.screens h3 {
    font-weight: 600;
    padding-top: 20vh;
    color: #000000;
}

.screens h3 span {
    color: #1EB858;
}

.screens p {
    padding-top: 10px;
    text-transform: uppercase;
    color: #ACAFB8;
}

.screens-menu {
    margin-top: 10vh;
    background-color: #000000;
    cursor: pointer;
}

.screens-menu p {
    color: #FFFFFF;
    text-transform: none;
}

.screens-menu span {
    display: inline-block;
    height: 35px;
    width: 35px;
    background-image: url("../img/screens-iconset.png");
    float: left;
}

.screens-menu_icon1 {
    background-position: 0 0;
}

.screens-menu_icon2 {
    background-position: -40px 0;
}

.screens-menu_icon3 {
    background-position: -78px 0;
}

.screens-menu_active {
    border-bottom: 2px solid #1EB858;
}

.screens img {
    width: 100%;
    margin-top: -10vh;
    z-index: -1;
}

.stats {
    text-align: center;
}

.stats h3 {
    font-weight: 600;
    padding-top: 10vh;
    color: #000000;
}

.stats h3 span {
    color: #1EB858;
}

.stats p {
    padding-top: 5vh;
    text-transform: uppercase;
    color: #ACAFB8;
}

.stats_section {
    margin: 10vh 0;
    box-shadow: 0 0 2px 1px #ACAFB8;
    border: 1px solid #ACAFB8;
    border-top: 3px solid #1EB858;
}

.stats_section p {
    text-transform: uppercase;
}

.stats_section p:first-of-type {
    padding-top: 10vh;
    color: #1EB858;
    font-size: 50px;
    font-weight: 600;
}

.stats_section p:last-of-type {
    padding-bottom: 10vh;
    color: #000000;
    font-weight: 500;
}

.tweets {
    position: relative;
    background-color: #1C57FF;
    padding: 25vh 0;
}

.tweets i {
    color: #FFFFFF;
    float: right;
    line-height: 30px;
}

.tweets p {
    color: #FFFFFF;
    line-height: 30px;
}

.tweets p span {
    font-weight: 500;
}

.tweets-follow {
    text-align: center;
    box-shadow: 0 0 5px #000000;
    position: absolute;
    background-color: #000000;
    height: 40px;
    width: 110px;
    top: 0;
    left: 110px;
    transform: translate(0, -50%);
}

.tweets-follow i {
    float: none;
    line-height: 40px;
    display: inline-block;
    color: #1C57FF;
}

.tweets-follow p {
    line-height: 40px;
    display: inline-block;
    color: #FFFFFF;
}

footer {
    padding: 20vh 0;
}

footer ul {
    padding: 0;
    list-style: none;
}

footer ul li {
    margin: 20px;
}

footer ul li a {
    padding: 5px;
    color: #000000;
    border: 1px solid #ACAFB8;
    box-shadow: 0 0 3px #ACAFB8;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: none;
    color: #1EB858;
}

@media (max-width: 576px) {
    .screens{
        text-align: center;
    }

    .screens img {
        width: 180vw;
        margin: 10px -40vw;
    }

    .tweets i {
        position: absolute;
        top: 0;
        left: -10px;
    }

    .tweets-follow i {
        position: static;
    }

    footer ul li a {
        padding: 5px;
        border: none;
        box-shadow: none;
    }
    footer ul li {
        margin: 0;
        text-align: left;
    }

}

@media (max-width: 768px) {
    .download img {
        width: 60vw;
    }

    .tweets-follow {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .stats_section {
        margin: 5vh 0;
    }
}

@media (max-width: 992px) {
    .main header nav ul li a {
        padding-left: 5px;
        font-size: 14px;
    }

    .main header h3 {
        padding-top: 20vh;
    }

    .offer {
        background-image: none;
    }
}
